.toHideCols{
    max-height: 169px;
    height: 169px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.marginAddCol{
    padding: .1rem;
}
.srowProfile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 9rem;
}
.master_col_group_profile{
    display: flex;
    justify-content: space-around;
    // flex-wrap: wrap;
}
.colg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 10rem;
    width: 49rem;
    background-color: white;
    margin: 1%;
    font-size: x-large;
}

.RenderTeamDetailsMaster{
    display: flex;
    justify-content: center;
    margin: 1%;
}
.RenderTeamDetailsChild2{
    display: flex;
    flex: 0.2;
    // justify-content: end;
}


.RenderCountAndFeedBackMaster{
flex: .8;
}

.RenderTimeLneInMaster{
    padding-right: 11%;
    padding-top: 5%;
    background: white;
    height: fit-content;
}

.REnderTimeline_timeline_text{
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    margin-top: -1rem;
}
