.ant-layout-content{
    max-height: 100vh !important;
    overflow-y: scroll !important;
    scroll-behavior: smooth !important;
}
.studentLayout .ant-layout-header{
height: 0px;
}

.anticon .anticon-ellipsis{
    width: 2rem;
    height: 2rem;
}